body { 
    background-color: #120b1e;
    font-family: sans-serif;
    margin: 0;
}

.center {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.btn { 
    position: relative;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 8px 18px;
    border-radius: 2px;
    white-space: nowrap;
    transition: color 350ms ease-in-out, background-color 350ms ease-in-out;
    animation: bouncy 4s infinite linear;
}

@keyframes bouncy {
    0%, 40% { top: 0px; }
    43% { top: -15px; }
    46% { top: 0px; }
    48% { top: -7px; }
    50% { top: 0px; }
    100% { top: 0px; }
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.btn.btn-blue {
    border-color: #2980b9;
    color: #2980b9;
}

.btn.btn-blue:hover {
    background-color: #2980b9;
    color: #ffffff;
}

.btn.btn-green {
    border-color: #27ae60;
    color: #27ae60;
}

.btn.btn-green:hover {
    background-color: #27ae60;
    color: #ffffff;
}

.btn.btn-red {
    border-color: #c0392b;
    color: #c0392b;
}

.btn.btn-red:hover {
    background-color: #c0392b;
    color: #ffffff;
}